<% players_hand = session[:player_cards] %>
<% dealers_hand = session[:dealer_cards] %>
<% player_score = session[:player_hand_value] %>
<% dealer_score = session[:dealer_hand_value] %>
<% player_name = session[:player_name] %>
<% bank_value = session[:bank] %>

<div class="alert alert-success" id="status" role="alert"><span></span></div>
<div class="alert alert-danger" id="status" role="alert"><span></span></div>
<div class="jumbotron">
  <h3 class="player_score"><%= "#{player_name}" %> has <span>
  <%= "#{player_score}" %></span></h3>
  <ul class='player_hand'>
    <%= show_hand(players_hand) %>
    <% if lucky_draw(players_hand, player_score) %>
      <div class="alert alert-success" id="lucky-draw" role="alert"><span>You drew Blackjack, You win!</span></div>
    <% end %>
  </ul>
  <h5>Cash: <span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span id="bank-amount"><%= bank_value %></span></h5>
  <h5 id="current-bet">Current Bet: <span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span id="bet-amount"></span></h5>
  <% unless lucky_draw(players_hand, player_score)  %>
    <button type="button" id="player-hit" class="btn btn-success">Hit</button>
    <button type="button" id="player-stay" class="btn btn-info">Stay</button>
  <% end %>
  <a href="/play"><button type="button" id="play-again" <%= "style='display:block';" if lucky_draw(players_hand, player_score) %>" class="btn btn-success">Play Again?</button></a>
</div>

<div class="jumbotron">
  <h3 class="dealer_score">Dealer has <span>?</span></h3>
  <h3 class="dealer_score">Dealer's Hand</h3>
  <ul class='dealer_hand'>
    <%= show_one_card(dealers_hand) %>
  </ul>
</div>

      